@font-face {
  font-family: "ss_drebeden";
  src: url("../fonts/ss_drebeden.eot");
  src:
    url("../fonts/ss_drebeden.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ss_drebeden.woff2") format("woff2"),
    url("../fonts/ss_drebeden.woff") format("woff"),
    url("../fonts/ss_drebeden.svg#ss_drebeden") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
